# ignore everything ...
*
# ... except git-specific files ...
!.gitignore
!.gitattributes
# ... and the script and simulink block ...
!DampedLeastSquaresIK.m
!dlsik_lib.slx
# ... plus the initial guess functions ...
!monteCarloInitialGuess.m
# ... for on-manifold optimization we need the
# adjoint-matrix and space-jacobian functions ...
!adjointSE3.m
!spaceJacobian.m

# ... also, provide a self-contained example ...
!simpleRobotTest.m
# ... and also a self contained demo for the UR10 ...
!ur10IKDemo.m