# ignore everything ...
*
# ... except git-specific files, ...
!.gitignore
!.gitattributes
# ... the README document, the license, ...
!README.md
!License.txt
# ... and the script and simulink block ...
!DampedLeastSquaresIK.m
!dlsik_lib.slx
# ... plus the initial guess functions ...
!monteCarloInitialGuess.m
# ... for on-manifold optimization we need the
# adjoint-matrix and space-jacobian functions ...
!adjointSE3.m
!getRigidBodyTree.m
!spaceJacobian.m
!traceTrajectory.m

# ... also, provide a self-contained example ...
!simpleRobotTest.m
# ... all examples for the publication ...
!example*.m


# ... the images used in the readme and (pot. other purposes) ...
!simulink_example.png
!ik-block_mask.png